credentials.json
*.pyc
.env
venv/
model/
unsloth*
wandb/
input_text.txt
input_test_text.txt
node_modules/
credentials.json
model_old/  
old_final_data/
fix_final_data/
tmp/
temp*
*.zip
package-lock.json
checkpoint*
logs/